<!DOCTYPE html>
<html lang="@@lang">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />



  <!-- Basic Meta Tags -->
  <title>Cyera AI - Decentralized Wealth Platform</title>
  <meta name="description" content="Cyera AI is a decentralized finance and blockchain-based wealth management platform." />
  <meta name="author" content="Cyera AI" />
  <meta name="robots" content="index, follow" />

  <!-- Open Graph -->
  <meta property="og:title" content="Cyera AI - Decentralized Wealth Platform" />
  <meta property="og:description" content="Cyera AI is a decentralized finance and blockchain-based wealth management platform." />
  <meta property="og:image" content="https://cyera.ai/images/branding-showcase.jpg" />
  <meta property="og:url" content="https://cyera.ai/@@path" />
  <meta property="og:type" content="website" />

  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Cyera AI - Decentralized Wealth Platform" />
  <meta name="twitter:description" content="Cyera AI is a decentralized finance and blockchain-based wealth management platform." />

  <!-- Canonical -->
  <link rel="canonical" href="https://cyera.ai/@@path" />

  <!-- Hreflang -->
  <link rel="alternate" hreflang="en" href="https://cyera.ai/" />
  <link rel="alternate" hreflang="fr" href="https://cyera.ai/fr/" />

  <link rel="stylesheet" href="assets/css/style.css?v=1.2" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@100..1000&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
    integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="icon" href="assets/images/favicon.svg" />
</head>

<body class="features-page">

  <header class="main-header">
    <div class="container">

      <!-- Logo -->
      <div class="logo">
        <a href="/"><img src="/assets/images/logo.svg" alt="Cyera AI"></a>
      </div>

      <!-- Navigation -->
      <!-- <nav class="menu">
        <a href="@@path/" data-title="Home"><span>Home</span></a>
        <a href="/@@path/about.html" data-title="About"><span>About</span></a>
        <a href="/@@path/features.html" data-title="Features"><span>Features</span></a>
        <a href="/@@path/our-products.html" data-title="Our Products"><span>Our Products</span></a>
        <a href="/@@path/documentation.html" data-title="Documents"> <span>Documentation</span></a>
        <a href="/@@path/help.html"  data-title="Help"><span>Help</span></a>
      </nav> -->

      <nav class="menu">
        <a href="/" data-title="Home"><span>Home</span></a>
        <a href="/about.html" data-title="About"><span>About</span></a>
        <a href="/features.html" data-title="Features"><span>Features</span></a>
        <a href="/our-products.html" data-title="Our Products"><span>Our Products</span></a>
        <!-- <a href="/documentation.html" data-title="Documentation"> <span>Documentation</span></a> -->
        <a href="/help.html" data-title="Help"><span>Help</span></a>
      </nav>

      <!-- Header Buttons -->
      <div class="header-btns flex flex-row">
        <div class="mobile-menu">
          <div class="menu-wrapper">
            <div class="hamburger-menu"></div>
          </div>
        </div>

        <!-- Language Switcher -->
        <!-- <select id="language-switcher">
          <option value="en" selected>English</option>
          <option value="fr">Français</option>
        </select> -->

        <a href="https://cyera.ai/login" target="_blank" data-title="Login" class="btn btn-primary">
          <span>Login</span>
          <i class="fa-solid fa-arrow-right"></i>
        </a>
      </div>
    </div>
    <div class="mobile-menu-wrapper">
      <nav class="menu mb-8">
        <ul>
          <li><a href="/" data-title="Home"><span>Home</span></a></li>
          <li><a href="/about.html" data-title="About"><span>About</span></a></li>
          <li><a href="/features.html" data-title="Features"><span>Features</span></a></li>
          <li><a href="/our-products.html" data-title="Our Products"><span>Our Products</span></a></li>
          <!-- <li><a href="/documentation.html" data-title="Documentation"> <span>Documentation</span></a></li> -->
          <li><a href="/help.html" data-title="Help"><span>Help</span></a></li>
        </ul>
      </nav>
      <a href="https://cyera.ai/login" target="_blank" data-title="Login" class="btn btn-primary">
        <span>Login</span>
        <i class="fa-solid fa-arrow-right"></i>
      </a>
    </div>
  </header>


  <div class="site-wrapper">



    <section class="page-header">
      <div class="hero-circles-wrapper">
        <div class="circle one">
          <img src="./assets/images/half-elipse.png" alt="">
        </div>
        <div class="circle two">
          <img src="./assets/images/half-elipse.png" alt="">
        </div>
        <div class="circle three">
          <img src="./assets/images/half-elipse.png" alt="">
        </div>
      </div>
      <div class="container">
        <nav class="breadcrumbs">
          <a href="./index.html">Home </a>
          <span>Documentation</span>
        </nav>
        <div class="lg:w-3/5 flex flex-col items-center text-center">
          <h1 class="mb-6 ">
            <span class="block text-gradient-primary w-fit">Cyera AI Official Documentation</span>
          </h1>
          <p class="lead">Download whitepapers, guides, and resources for the Cyera AI ecosystem.</p>
        </div>
      </div>
    </section>

    <section class="ctoa my-32">
      <div class="container">
        <div class="ctoa-circles-wrapper">
          <div class="circle one">
            <img src="./assets/images/half-elipse.png" alt="">
          </div>
          <div class="circle two">
            <img src="./assets/images/half-elipse.png" alt="">
          </div>
          <div class="circle three">
            <img src="./assets/images/half-elipse.png" alt="">
          </div>
        </div>
        <div class="flex flex-col items-center lg:w-[45%] mx-auto">
          <div class="ctoa-icon-holder">
            <img src="./assets/images/hero-logo.png" alt="">
          </div>
          <div class="ctoa-heading text-center">
            <h2 class="text-gradient-primary my-6">Join the Global Cyera AI Revolution</h2>
          </div>
          <p class="lead mb-6 text-center">Scalable, secure, and lightning-fast blockchain solutions powering enterprises, startups, and global innovation.</p>
          <a href="https://cyera.ai/register" target="_blank" class="btn btn-primary" data-title="Start Your Journey"><span>Start Your Journey</span><i class="fa-solid fa-arrow-right"></i></a>
        </div>
      </div>
    </section>

  </div>

  <footer class="bg-dark-000 site-footer">
    <div class="container">
      <div class="flex flex-col lg:flex-row lg:items-stretch justify-between  gap-6">
        <div class="flex flex-col items-stretch foote-info">
          <div class="footer-logo">
            <a href="/" class="logo mb-6"><img src="./assets/images/logo.svg" alt=""></a>
            <p class="footer-desc">Cyera AI is building the future of decentralized finance with scalable, secure, and innovative blockchain solutions powering 7 unique Apps.</p>
          </div>
          <div class="contact-info">
            <p class="mb-2"><a class="flex flex-row gap-3 items-center" href="mailto:support@cyera.ai">
                <i class="fa-regular fa-envelope"></i> support@cyera.ai</a>
            </p>
            <p class="mb-2">
              <a class="flex flex-row gap-3 items-center" href="tel:+917877000747">
                <i class="fa-solid fa-phone-volume"></i>
                +91 78770 00747 - Monday to Saturday (10AM to 7PM)
              </a>
            </p>
            <p><a class="flex flex-row gap-3 items-center" href="https://maps.app.goo.gl/o9vv9zmAKrsD5QP27" target="_blank">
                <i class="fa-solid fa-location-dot"></i>6 Raffles Quay, #14-06, Singapore - 048580</a>
            </p>
          </div>
        </div>
        <div class="flex flex-col items-stretch footer-links m-connect">
          <div class="flex flex-row items-end lg:items-center justify-between">
            <div class="flex flex-col items-center w-[35%]">
              <img src="./assets/images/m-connet-1.avif" alt="" class="w-[60%] lg:w-full mb-4 lg:mx-auto lg:mb-0">
              <div class="sub-title">M-Connect</div>
            </div>
            <div class="w-[60%]">
              <h4 class="text-white-gradient mb-4">One Gateway. Infinite Meta Experiences</h4>
              <p class="lg:mb-6">A single gateway connecting all Meta applications seamlessly</p>
              <div class="hidden lg:flex">
                <a href="#" class="btn w-fit" data-title="Download M-Connect"><span>Download M-Connect</span></a>
              </div>
            </div>
          </div>
          <div class="flex mt-6 lg:hidden">
            <a href="#" class="btn w-full" data-title="Download M-Connect"><span>Download M-Connect</span></a>
          </div>
        </div>
        <div class="flex flex-col items-stretch footer-links">
          <h4>Quick Links</h4>
          <ul>
            <li><a href="./index.html">Home</a></li>
            <li><a href="./about.html">About</a></li>
            <li><a href="./our-products.html">Our Products</a></li>
            <li><a href="./features.html">Features</a></li>
            <li><a href="./help.html">Help</a></li>
          </ul>
        </div>

      </div>
    </div>
    <div class="container">
      <div class="copy-right text-center flex flex-col lg:flex-row justify-between items-center">
        <p>© Copyright 2025 - <a href="#">Cyera AI</a> | All Rights Reserved</p>
        <ul class="social-links">
          <li><a href="https://www.facebook.com/share/19g7j4h78W/" target="_blank" class="facebook"></a></li>
          <li><a href="https://www.instagram.com/meta_wealths/" target="_blank" class="instagram"></a></li>
          <li><a href="hhttps://x.com/cyeras?t=Xf0RXwsjBEUASfL_bV8XKA&s=09" target="_blank" class="twitter"></a></li>
          <li><a href="hhttps://x.com/cyeras?t=Xf0RXwsjBEUASfL_bV8XKA&s=09" target="_blank" class="youtube"></a></li>
          <li><a href="hhttps://x.com/cyeras?t=Xf0RXwsjBEUASfL_bV8XKA&s=09" target="_blank" class="telegram"></a></li>
        </ul>
      </div>
    </div>
  </footer>

  <script src="assets/js/bundle.js"></script>

  <!--Start of Tawk.to Script-->
  <script type="text/javascript">
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
      var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
      s1.async = true;
      s1.src = 'https://embed.tawk.to/695395609053fb197ca46095/1jdn7v0bo';
      s1.charset = 'UTF-8';
      s1.setAttribute('crossorigin', '*');
      s0.parentNode.insertBefore(s1, s0);
    })();
  </script>
  <!--End of Tawk.to Script-->

</body>

</html>